# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

boost_1_74_0/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/DLSiteHelperServer/x64
/x64
/config.json
*.user
